@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
	--violet: #d33bfd;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
}



/* ***************************************navbar************************************************** */
.logo{
	width: 20%;
}
header {
	/* background: linear-gradient(#13181d, #20212e, #341b47); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/6363ecdc98602car4.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

header nav {
	padding: 30px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header nav h1 {
	margin: 0;
	text-transform: uppercase;
	color: var(--violet);
}
header nav .right {
	display: flex;
	align-items: center;
}
header nav .right a {
	margin: 0 15px 0 0;
	color: #ccc;
	text-decoration: none;
}

header nav .right a:hover{
	color: white;
	cursor: pointer;
}
header nav .right p:hover {
	color: white;
	cursor: pointer;
}
header nav .right button {
	padding: 5px 15px;
	font-size: 16px;
	background-color: inherit;
	border: 1px solid var(--violet);
	border-radius: 5px;
	color: var(--violet);
	cursor: pointer;
	transition: color 0.5s, background-color 0.5s;
}
header nav .right button:hover {
	color: inherit;
	background-color: var(--violet);
}
.navbar-nav {
	margin-left: auto;
}

/* *********************************présentation********************************** */

.presentation {
	
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.presentation .product-presentation {
	width: 100%;
	padding: 0 5%;
}
.presentation .product-presentation a{
	text-decoration: none;
	
}
.presentation .product-presentation h1 {
	/* margin: 0; */
	font-size: 4vw;
	width: 60%;
	/*text-align: center; */
}
.presentation .product-presentation p {
	font-weight: 500;
	padding-top: 50;
}
.presentation .product-presentation button {
	margin: 20px;
	padding: 15px 20px;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}
.presentation .product-presentation button a{
	text-decoration: none;
	color: black;
}
.presentation .product-presentation button a:hover{
	text-decoration: none;
	color: white;
}
.presentation .image-presentation img {
	width: 100%;
	height: 50%;
	padding: 5%;
}

.first .product-presentation button {
	/* background-color: var(--violet); */
	background-color: #cd4e6c;
	color: white;
	/* border: 1px solid var(--violet); */
	border: 1px solid #cd4e6c;
	transition: background-color 0.5s, color 0.5s;
}
.first .product-presentation button:hover {
	background-color: inherit;
	color: var(--violet);
}
.first .product-presentation .small-images {
	/* margin-top: 30px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.first .product-presentation .small-images .small {
	padding: 20px;
	background-color: #33314d;
	margin: 30px 15px;
	border-radius: 20px;
	transition: filter 0.5s;
}
.first .product-presentation .small-images .small:hover {
	filter: brightness(50%);
}
.first .product-presentation .small-images .small img {
	width: 300px;
}
.first .product-presentation .small-images p{
	color: #fdfdfd;
	font-size: 25;
	font-weight: bold;
}
.second {
	margin: 0;
	background-color: #13181d;
}
.second .product-presentation .new {
	color: var(--violet);
}
.second .product-presentation button {
	background-color: inherit;
	border: 1px solid var(--violet);
	color: var(--violet);
	transition: background-color 0.5s, color 0.5s;
}
.second .product-presentation button:hover {
	background-color: var(--violet);
	color: white;
}



/* ********************************contact****************************** */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url(img/bg.jpg); */
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../img/6363ecab6d542car1.jpg);
    /* background: transparent; */
    background-size: cover;
    background-repeat: no-repeat;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff; 
    margin-bottom: 10px;
}
.contact .content p{
    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/6363ecab6d542car1.jpg);
}
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}
.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    /* background: var(--violet); */
	background: #00bcd4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container1 .contactInfo .box .text{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
}
.text a{
    /* width: 100%; */
    /* text-align: center; */
    /* border-radius: 5px; */
    /* padding: 13px; */
    /* text-decoration: none; */
    color: #00bcd4;
    /* background-color: #00bcd4; */
}
.container1 .contactInfo .box .text h3{
    color: #ffffff;
    font-weight: 700;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    padding:5px 0;
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}

.status {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.status.success {
background: rgb(29, 218, 63);
color: #000000;
/* background: #5be172; */
visibility: visible;
animation: 0s linear 2.3s forwards status;
}
.status.error {
background: red;
color: white;
animation: 0s linear 2.3s forwards status;
}
@keyframes status {
    to {
      visibility: hidden;
    }
}
/* **************devis******************** */
.devis-content .contactInfo .box .text h3{
    color: #ffffff;
    font-weight: 700;
}
.devis-content{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.devis-content .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.devis-content .contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}
.devis-content .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    /* background: var(--violet); */
	background: #00bcd4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.devis-content .contactInfo .box .text{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
}
.devis{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
	background-image: url(../img/devis_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	
}
.devis .content{
    max-width: 800px;
    /* text-align: center; */
}
.devis .content h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff; 
    margin-bottom: 10px;
}
.devis .content p{
    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
}
.contactForm .inputBox input[type="submit"]{
    background: #000000;
    border-radius: 10px;
}
    
/* ****************************portfolio**************************** */
.portfolio{
	padding: 15px;
	background-color: #000000;
}
.portfolio .text-center{
	color: #d33bfd;
	margin-bottom: 20px;
}
/* *****************************footer*********************************** */
.footer {
	margin: 0;
	padding: 20px;
	/* background-color: black; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	text-align: center;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* justify-content: space-around; */
}
.portfolio footer{
	background-color: white;
}
footer p {
	color: #ccc;
}
.footer h5{
	color: var(--violet);
	margin-bottom: 10px;
}
.footer a {
	cursor: pointer;
	color: #ccc;
	margin: 5px 0;
	text-decoration: none;
}
.footer a:hover {
	color: white;
}
.column{
	display: flex;
	flex-direction: column;
}
.column .sociaux{
	display: block;
	margin:20 0;
}
.icone-medias {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.justify-content-center {
    justify-content: center!important;
    background: white;
    margin: 30px;
    padding: 20px 0;
}
.col-lg-5 {
    width: 50%;
}
footer p {
    color: #000000;
}

@media screen and (max-width: 640px) {
	/* ***********************navbar***************************** */
	nav .right p {
		display: none;
	}
	.navbar-toggler-icon {
		width: 1.2em;
		height: 1.8em;
	}
	/* *************************presentation***************************** */
	header {
		/* background: linear-gradient(#13181d, #20212e, #341b47); */
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/6363ecdc98602car4.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.presentation .product-presentation h1 {
		font-size: 1.6em;
		width: 100%;
	}
	.presentation .image-presentation {
		display: none;
	}
	.first .product-presentation .small-images .small img {
		width: 118px;
	}
	.first .product-presentation .small-images .small {
		padding: 10px;
		margin: 15 15;
		border-radius: 7px;
	}
	.first .product-presentation .small-images P{
		color: #fdfdfd;
		font-size: 12;
		font-weight: normal;
	}
	.presentation .product-presentation button {
		margin-top: 10px;
		padding: 10px 15px;
		font-size: 12px;
		border-radius: 10px;	
	}
	.presentation .product-presentation {
		width: 120%;
		text-align: center;
		/* flex-shrink: 3; */
		padding: 5% 5%;
	}
	.logo{
        width: 18%;
        /* color: white; */
    }
	.second{
		padding: 30px 0px;
	}

	/* **************contact******************** */

	.container1 .contactInfo .box{
        padding: 10px 0;
    }
    .contact{
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactInfo{
        margin-bottom: 40px;
    }
    .container1 .contactInfo,
    .contactForm
    {
        width: 100%;
        padding: 20px;
    }
    .contactForm h2{
        font-size: 20px;
    }
	/* **************devis******************** */

	.devis{
		padding: 10px 16px;
		background: var(--violet);
	}
	.devis .content h2 {
		font-size: 18px;
		font-weight: 500;
		color: #0b0b0b;
		text-align: center;
		/* padding-top: 30px; */
		/* margin-bottom: 10px; */
	}
	.devis-content{
		margin-top: auto;
	}

	/* ***********************portfolio******************* */
	.portfolio .text-center{
		color: #d33bfd;
		margin-bottom: 15px;
	}

	/* *********************footer****************** */
	footer {
		justify-content: flex-start;
	}
	footer p{
		font-size: 12px;
	}
	.column a{
		font-size: 15px;
		margin: 5 10px;
	}
	.column {
		font-size: 12px;
		padding: 0px 17px;
	}
	footer .reseaux{
		width: 100%;
		display: block;
		padding: 8px;
	}
	.footer h5{
		padding: 5px;
	}
	footer .justify-content-center {
		margin: 0; 
	
	}
	.text-3{
		font-size: 13px;
	}
	.icone-medias {
		width: 35px;
		margin: 10px 5px;
	}
}

.navbar-nav {
	margin-left: auto;
}