*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
	--violet: #d33bfd;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img/bg.jpg);
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff; 
    margin-bottom: 10px;
}
.contact .content p{
    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/6363ecab6d542car1.jpg);
}
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box{
    position: relative;
    display: flex;
    padding: 20px 0;
}
.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container1 .contactInfo .box .text{
    margin-left: 20px;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-weight: 400;
}
.container1 .contactInfo .box .text h3{
    color: #ffffff;
    font-weight: 700;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    padding:5px 0;
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}

.navbar-nav {
	margin-left: auto;
}

.logo{
	width: 5%;
	/* color: white; */
}

.footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
footer {
	margin: 0;
	padding: 20px;
	background-color: black;
	text-align: center;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* justify-content: space-around; */
}
footer h3 {
	color: var(--violet);
}

footer p {
	color: #ccc;
}
.footer a {
	cursor: pointer;
	color: #ccc;
	margin: 15px 0;
	text-decoration: none;
}
.footer a:hover {
	color: white;
}
.column{
	display: flex;
	flex-direction: column;
}
@media (max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .container1{
        flex-direction: column;
    }
    .container1 .contactInfo{
        margin-bottom: 40px;
    }
    .container1 .contactInfo,
    .contactForm
    {
        width: 100%;
    }
    .logo{
        width: 10%;
        /* color: white; */
    }
    footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}

.status {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.status.success {
background: greenyellow;
visibility: visible;
animation: 0s linear 2.3s forwards status;
}
.status.error {
background: red;
color: white;
animation: 0s linear 2.3s forwards status;
}
@keyframes status {
    to {
      visibility: hidden;
    }
}

